body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    color: #f54291;
    text-align: center;
    margin-top: 2rem;
}
.heading h1{
    font-size: 8vw;
}
.wrapper {
    width: 100%;
    transform: translateY(-8%);
}

.container2 {
    width: 90%;
    margin: 0 auto;
}

.container1 {
    
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
    transform: translateY(30%);
    z-index: 1;
    background-color: #2bb2bb;
    
       box-shadow: 0px 0px 10px #faeee7,
       0px 0px 0px #2bb2bb,
       0px 0px 0px #2bb2bb,
       2px 2px 5px #2bb2bb,
       0px 0px 0px #2bb2bb,
       0px 0px 0px #2bb2bb;
    padding: 10px;
    text-align: center;
}

.social-media {
    text-align: center;
    padding: 10px;
}

.social-media li {
    list-style-type: none;
    display: inline-block;
    margin: 4px;
}

.social-media i {
    font-size: 1.5rem;
    color: #092532;
}

h5 {
    font-family: 'Montserrat';

}

p {
    font-family: 'Ubuntu';

}

.img {
    width:100px;
    height:100px;
    border-radius: 50%;   
}

.contact-info {
    display: grid;
    justify-content: center;
    align-items: center;
}

.address,
.email,
.phone {
    display: flex;
    align-items: safe center;
    clear: both;
    padding-left: 10px;
}

.contact-info p {
    margin: 0 0 auto;
    padding-left: 10px;
    font-family: 'Ubuntu';
    text-align: left;
}

input,
label {
    display: block;
    padding: 0;
    margin: 0;
    transition: .2s;
    font-size: 1.2rem;
    width: 100%;
}

input {
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    margin-bottom: 1.3rem;
}

label {
    margin-top: 10px;
    text-align: left;
}

.form-input:hover label {
    transform: translateY(-.4rem);
    color: #f54291;
}

.form-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 5vw;
}

.wrapper2 {
    box-shadow: 0px 0px 10px #faeee7,
        0px 0px 0px #faeee7,
        0px 0px 0px #faeee7,
        2px 2px 5px #faeee7,
        0px 0px 0px #faeee7,
        0px 0px 0px #faeee7;
    padding: 0 14vw;
    text-align: center;
    padding-top: 15vw;
    background-color: #faeee7;
}

.btn {
    margin-top: 1.5rem;

}

.footer {
    text-align: center;
    background-color: #0a97b0;
    color: #eee;

}

.footer p {
    margin: 0;
    padding: 0;
}

li{
        cursor: pointer;

}
 li:hover{
    color: #f54291;
    transform: scale(1.2);
}
.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    display: inline-block;
    background-color: #0a97b0;
    padding: 0 5px;
    margin-top: 5px;
}

ul li i {
    padding: 0;

}
.wrapper2 .btn{
    border-radius:5vw;
    font-size:3vw;
    padding:1vw 2vw;
    width:15vw;
    margin: 6vw;
   
}
@media screen and (min-width:800px) {
    .container1 .contact-info{
        width:50vw;
        margin:0 auto;
        font-size: 2.5vw;
    }
    .container1 .img{
        width:250px;
        height:250px;
    }
    .container1 h5{
        font-size: 4vw;
        font-weight: bold;
    }
    .social-media li i{
        margin-top:2vw;
        font-size: 4vw;
    }
    .container2{
        font-size: 3vw;

    }
    .form-input label{
        font-size: 3vw;
    }
    .footer p {
        font-size: 2vw;
    }

    .footer {
        padding-top: 20px;
    }

    .footer ul li i {

        font-size: 3vw;
    }

}